/*-------------IMPORTS-------------*/

@import url("bootstrap.css");

/* .................................... */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4684ee;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 512px;
    height: 512px;
    position: absolute;
    left: 35%;
    top: 20%;
    background-image: url(../images/logo/code-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -70px 0 0 -70px;
}

* {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 670px;
}